.newtodobuttoncontainer {

}
.newtodobutton {

}
.todoviewcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todoinputcontainer {
  padding: 16px;
}
.todoinput {
  font-size: 24px;
  border-style: hidden;
}
.completedbuttoncontainer {
  padding: 16px;
}
.checkbox {
  width: 24px;
  height: 24px;
}
.deletebutton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 12px;
}
.todolist {
  padding-bottom: 16px;
}
